<!doctype html>
<h1 style="text-align: center;">Rarepepe</h1>
<form action="approve_photo/{{keyurl}}" method="post">
<h2 style="text-align: center;">The online collection of rarepes</h2>
 <button name="forwardBtn" type="submit">Approve pepe</button></form><br />
<p style="text-align: center;"></p>
<div style="text-align: center;"><img src="{{image_entities[0]['image_public_url']}}" width="200" height="200" /></div>
<p style="text-align: center;"><br /><br /></p>
<footer><hr />
<p style="text-align: center;">All copyrights belong to pepe.</p>
</footer>
