@import url('https://fonts.googleapis.com/css?family=VT323');
* { 
	margin:0;
	padding:0;
	overflow: hidden;
	box-sizing: border-box;
	font-family: 'VT323', monospace;
	font-size:1.16rem;
}
body {
  background-color:pink;
  padding: 30px;
}
li {
  letter-spacing: 5px;
  style: bold;
  font-weight: bold;
}
h1{
  font-size: 4em;
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
