<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <form action="upload_photo" method="POST" enctype="multipart/form-data">
      Upload File: <input type="file" name="file"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
		<div class="container-fluid">
			<div  class="jumbotron">
				<h1 class="text-center"> Rarepepe </h1>
				<h2 class="text-center"> The online collection of rarepes </h2>
				<br> 
						<div class="thumbnail">
								{% for image_entity in image_entities %}
								<img src="{{image_entity['image_public_url']}}" width=200 height=200>
								{% endfor %} 
						</div>
				<br><br>
			
			<footer class="text-center">
				<hr>
				<p>All copyrights belong to pepe.</p>
			</footer>  
		</div>
  </body>
</html>
