<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

<div>
<div style="text-align: center;">
<h1 style="text-align: center;">Rarepepe</h1>
<form action="refresh" method="post">
<h2 style="text-align: center;">The online collection of rarepes</h2>
<div><img src="{{image_entities[0]['image_public_url']}}" /></div>
  <button name="forwardBtn" type="submit">Next pepe</button></form><br />
<br /><br /><footer><hr />
<p>All copyrights belong to pepe.</p>
<form action="upload_photo" enctype="multipart/form-data" method="POST">Submit your own pepes: <input name="file" type="file" /><br /> <input name="submit" type="submit" value="Submit" /></form></footer></div>
</div>
